@import '../../utils/variables';

.ExtraUserInfo {
  box-sizing: border-box;
  width: 1300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F2F2F2;
  padding: 20px 60px;
  box-shadow: 0px 1px 4px rgba(60, 52, 135, 0.15);

  &__title {
    display: flex;
    gap: 15px;
    height: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: #777777;
    margin-bottom: 12px;
  }

  &__selectors {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 32px;
    margin-bottom: 13px;
    padding: 0;
  }

  &__description {
    width: 100%;

    &::before {
      content: "";
      display: flex;
      height: 1px;
      background-color: #A6192E;
      margin-bottom: 12px;
      order: 1;
      align-self: stretch;
      flex-grow: 0; 
    }
  }
}

.title-bold {
  color: #5B5B5B;
  font-weight: 700;
}

.selector {
  display: flex;
  gap: 4px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  background-color: #fff;
  color: #5B5B5B;
  padding: 6px 12px;
  margin-right: 16px;

  &__calendar {
    background-color: transparent;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  &__reload {
    text-align: center;
    width: 32px;
    height: 32px;
    border: none;
    transition: 0.2s all;

    &:hover {
      transform: scale(1.4);
    }
  }
}
.description__score {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;

  &>:nth-child(n) {
    display: flex;
    gap: 8px;
  }
}

.description__speed {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;

  &>:nth-child(n) {
    display: flex;
    gap: 8px;
  }
}

.round {
  content: ""; 
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.blue-bg {
  background-color: $rate-color-blue;
}

.green-bg {
  background-color: $rate-color-green;
}

.yellow-bg {
  background-color: $rate-color-yellow;
}

.orange-bg {
  background-color: $rate-color-orange;
}
