$rate-color-blue: #4285F4;
$rate-color-green: #0F9D58;
$rate-color-yellow: #E2B534;
$rate-color-orange: #DB4437;
$lines_link-color-red: #A6192E;
$text-color-lightgrey: #777777;
$text-color-darkgrey: #5B5B5B;
$bg-color-lightgrey: #C0C0C0;
$bg-color-lightgrey: #5B5B5B;
$selectedbgtable-color-lightred: #F7E5E5;
$main_table_bg_rows-color: #F9F9F9;
