.App {
  font-family: 'Rubik', sans-serif;
  max-width: 1440px;
  min-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
}

.cross {
  width: 9.3px;
  height: 9.3px;
}

.triangle {
  width: 8.3px;
  height: 4.2px;
}
