.table {
  width: 100%;
  margin: 0 auto;
  border-spacing: 24px 0;
  overflow: visible;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #828282;

  thead tr th {
    margin-right: 24px;
    text-align: left;
    font-weight: 400;
  }

  tr {
    &:nth-of-type(even) {
      background-color: #F9F9F9;
    }
  }

  tr {
    height: 48px;
  }

  th {
    margin-right: 24px;
  }

  th:nth-child(1) {
    width: 42px;
  }

  th:nth-child(2) {
    width: 300px;
  }

  th:nth-child(3) {
    width: 84px;
  }

  th:nth-child(4) {
    width: 46px;
  }

  th:nth-child(5) {
    width: 100px;
  }

  th:nth-child(6) {
    width: 112px;
  }

  th:nth-child(7) {
    width: 384px;
  }

  th:nth-child(8) {
    width: 104px;
  }
}

.table-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-name {
  &__button {
    width: 16px;
    height: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: 0.2s all;

    &:hover {
      transform: scale(1.5);
    }
  
    &:active {
      transform: scale(2);
    }
  }
}

.table-id {
  &__img {
    height: 16px;
    border: none;
    background-color: #fff;
  }
}

.table-class {
  &__text {
    margin-right: 12px;
  }

  &__img {
    height: 16px;
    border: none;
    background-color: #fff;
  }
}

.table-score {
  &__img {
    height: 16px;
    border: none;
    background-color: #fff;
  }
}
